@using System.Data
@model CHO_Saathi.ViewComponents.PatientInformationViewModel


<style>
    .inline-pager {
        display: inline-flex;
    }

        .inline-pager .disabled {
            background-color: #efefef;
            cursor: not-allowed;
            color: #777777;
            outline: 0;
        }

        .inline-pager .active {
            background-color: #0275d8;
            border-color: #0275d8;
            color: #ffffff;
        }

        .inline-pager button {
            background-color: #ffffff;
            border: 1px solid #dddddd;
            box-sizing: content-box;
            line-height: 1.8em;
            padding: 0.25em;
            cursor: pointer;
            min-width: 2em;
        }

        .inline-pager .page-size-select {
            background-color: #ffffff;
            border: 1px solid #dddddd;
            box-sizing: content-box;
            line-height: 1.8em;
            margin: 0 0.5em;
            min-width: 2em;
        }

    .grid-filter {
        background-color: rgba(0, 0, 0, 0.03);
        transition: background-color 0.5s;
        font-family: 'GridGlyphs';
        position: absolute;
        font-weight: bold;
        width: 2.75em;
        border: none;
        height: 100%;
        right: 0;
        top: 0;
    }
</style>

@if (Model != null)
{
    @*
    <div class="row">
        <div class="col-xl-12">

            @foreach (var items in Model.patientGraphData)
            {
                <div class="row row-cols-1 row-cols-md-3 g-3">

                    <!-- Total Content -->
                    <div class="col">
                        <div class="card radius-10" style="background: linear-gradient(90deg,#4f2af0,#2196f3);">
                            <div class="card-body">
                                <div class="d-flex align-items-center text-white">
                                    <h5 class="card-title">
                                        Registered Patients : <span class="text-white">@items.TotalRegisteredPatients</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Content -->
                    <div class="col">
                        <div class="card radius-10" style="background: linear-gradient(90deg,#f72585,#ff6f31);">
                            <div class="card-body">
                                <div class="d-flex align-items-center text-white">
                                    <h5 class="card-title">
                                        Follow-up Patients : <span class="text-white">@items.TotalFollowupPatients</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- In Progress -->
                    <div class="col">
                        <div class="card radius-10" style="background: linear-gradient(90deg,#0bb7a4,#1dd9c1);">
                            <div class="card-body">
                                <div class="d-flex align-items-center text-white">
                                    <h5 class="card-title">
                                        Referred Patients : <span class="text-white">@items.TotalReferredPatients</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
    *@


    <div class="row">
        <div class="col-xl-12">

            <table id="PatientDetails" class="table table-striped table-bordered cell-border" style="width:100%">
                <thead>
                    <tr>
                        <th>S No</th>
                        <th>Full Name</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Mobile</th>
                       @*  <th>State</th>
                        <th>District</th>
                        <th>Block</th> *@
                        <th>Village</th>
                        <th>Registered Date</th>
                        <th>Follow Up Date</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        int a = (Convert.ToInt32(TempData["PageIndex"]) * Convert.ToInt32(TempData["PageSize"])) - (Convert.ToInt32(TempData["PageSize"]) - 1);
                    }

                    @foreach (var item in Model.patientDetails)
                    {
                        <tr>
                            <td>@a</td>
                            <td>@item.fullName</td>
                            <td>@item.DOB</td>
                            <td>@item.gender</td>
                            <td>@item.mobile</td>
                            @* <td>@item.StateName</td>
                            <td>@item.District</td>
                            <td>@item.BlockName</td> *@
                            <td>@item.villageName</td>
                            <td>@item.registeredDate</td>
                            <td>@item.visit_date</td>
                        </tr>

                        a += 1;
                    }
                </tbody>

            </table>

            

        </div>

        
    </div>

    <div class="col-md-12 text-right mt-2">
        <div class="inline-pager float-end">
            @if (TempData["PageIndex"].ToString() == "1")
            {
                <button type="button" class="disabled">«</button>
                <button type="button" class="disabled">‹</button>
                <button type="button" class="active">1</button>
                @if (Convert.ToInt32(TempData["MaxPageIndex"]) <= 1)
                {
                    <button type="button" class="disabled">›</button>
                    <button type="button" class="disabled">»</button>
                }
                else
                {
                    <button type="button" onclick="getPatientReport(2)">›</button>
                    <button type="button" onclick="getPatientReport(@TempData["MaxPageIndex"])">»</button>
                }
            }
            else
            {
                int pageIndexTopBack = 1;
                int pageIndexBack = (Convert.ToInt32(TempData["PageIndex"]) - 1);
                int pageIndexTopNext = Convert.ToInt32(TempData["MaxPageIndex"]);
                int pageIndexNext = (Convert.ToInt32(TempData["PageIndex"]) + 1);

                <button type="button" onclick="getPatientReport(@pageIndexTopBack)">«</button>
                <button type="button" onclick="getPatientReport(@pageIndexBack)">‹</button>
                <button type="button" class="active">@TempData["PageIndex"]</button>
                @if (Convert.ToInt32(TempData["MaxPageIndex"]) <= 1 || Convert.ToInt32(TempData["MaxPageIndex"]) == Convert.ToInt32(TempData["PageIndex"]))
                {
                    <button type="button" class="disabled">›</button>
                    <button type="button" class="disabled">»</button>
                }
                else
                {
                    <button type="button" onclick="getPatientReport(@pageIndexNext)">›</button>
                    <button type="button" onclick="getPatientReport(@TempData["MaxPageIndex"])">»</button>
                }
            }
            <select class="page-size-select" id="pageSize" onchange="getPatientReport(1)">
                <option value="10">10</option>
                <option value="30">30</option>
            </select>
        </div>
    </div>
}
else
{
    <p>No records found.</p>
}

