@using System.Data
@model CHO_Saathi.ViewComponents.PatientInformationViewModel


<style>
    .inline-pager {
        display: inline-flex;
    }

        .inline-pager .disabled {
            background-color: #efefef;
            cursor: not-allowed;
            color: #777777;
            outline: 0;
        }

        .inline-pager .active {
            background-color: #0275d8;
            border-color: #0275d8;
            color: #ffffff;
        }

        .inline-pager button {
            background-color: #ffffff;
            border: 1px solid #dddddd;
            box-sizing: content-box;
            line-height: 1.8em;
            padding: 0.25em;
            cursor: pointer;
            min-width: 2em;
        }

        .inline-pager .page-size-select {
            background-color: #ffffff;
            border: 1px solid #dddddd;
            box-sizing: content-box;
            line-height: 1.8em;
            margin: 0 0.5em;
            min-width: 2em;
        }

    .grid-filter {
        background-color: rgba(0, 0, 0, 0.03);
        transition: background-color 0.5s;
        font-family: 'GridGlyphs';
        position: absolute;
        font-weight: bold;
        width: 2.75em;
        border: none;
        height: 100%;
        right: 0;
        top: 0;
    }
</style>


@if (Model != null)
{
    <div class="row mt-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-success" onclick="ExportExcelZIP()">
                <i class="fa-solid fa-file-excel"></i>&nbsp;Export
            </button>
            <button type="button" class="btn btn-danger" onclick="ExportEmergencyMedicalServices()">
                <i class="fa fa-hospital"></i>&nbsp;Emergency Medical Services
            </button>
            <button type="button" class="btn btn-primary text-white" onclick="ExportReferredPatient()">
                <i class="fa fa-ambulance"></i>&nbsp;Referred Patient
            </button>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 w-100">
            <table id="PatientDetails" class="table table-bordered mt-2">
                <thead>
                    <tr>
                        <th style="width:10px;">S No</th>
                        <th style="width:20px;">Patient Details</th>
                        <th style="width:40px;">Mobile</th>
                        <th style="width:350px;">Location</th>
                        <th style="width:50px;">Registered Date</th>
                        <th style="width:50px;">Follow Up Date</th>
                        <th style="width:20px;">Summary</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        int a = (Convert.ToInt32(TempData["PageIndex"]) * Convert.ToInt32(TempData["PageSize"])) - (Convert.ToInt32(TempData["PageSize"]) - 1);
                    }

                    @foreach (var item in Model.patientDetails)
                    {
                        int age = 0;

                        if (item.DOB != null)
                        {
                            var dob = Convert.ToDateTime(item.DOB);
                            var today = DateTime.Today;

                            age = today.Year - dob.Year;
                            if (dob.Date > today.AddYears(-age))
                            {
                                age--;
                            }
                        }

                        <tr>
                            <td>@a</td>

                            <td>
                                <table class="table table-bordered mt-0">
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <td>
                                            @item.fullName
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Husband Name
                                        </th>
                                        <td>
                                            @item.spouseName
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Age
                                        </th>
                                        <td>
                                            @age
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Gender
                                        </th>
                                        <td>
                                            @item.gender
                                        </td>
                                    </tr>
                                </table>
                            </td>

                            <td>@item.mobile</td>
                            <td>
                                <table class="table table-bordered mt-0">
                                    <tr>
                                        <th>
                                            State
                                        </th>
                                        <td>
                                            @item.StateName
                                        </td>
                                        <th>
                                            District
                                        </th>
                                        <td>
                                            @item.District
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Block
                                        </th>
                                        <td>
                                            @item.BlockName
                                        </td>
                                        <th>
                                            Facility
                                        </th>
                                        <td>
                                            @item.FacilityName
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            HWC/Sub-center
                                        </th>
                                        <td>
                                            @item.SubFacility
                                        </td>
                                        <th>
                                            Village
                                        </th>
                                        <td>
                                            @item.villageName
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>@item.registeredDate</td>
                            <td>@item.visit_date</td>
                            <td></td>
                        </tr>

                        a++;
                    }


            </table>
        </div>


    </div>
    <div class="col-md-12 text-right mt-1">
        <div class="inline-pager float-end">
            @if (TempData["PageIndex"].ToString() == "1")
            {
                <button type="button" class="disabled">«</button>
                <button type="button" class="disabled">‹</button>
                <button type="button" class="active">1</button>
                @if (Convert.ToInt32(TempData["MaxPageIndex"]) <= 1)
                {
                    <button type="button" class="disabled">›</button>
                    <button type="button" class="disabled">»</button>
                }
                else
                {
                    <button type="button" onclick="getPatientReport(2)">›</button>
                    <button type="button" onclick="getPatientReport(@TempData["MaxPageIndex"])">»</button>
                }
            }
            else
            {
                int pageIndexTopBack = 1;
                int pageIndexBack = (Convert.ToInt32(TempData["PageIndex"]) - 1);
                int pageIndexTopNext = Convert.ToInt32(TempData["MaxPageIndex"]);
                int pageIndexNext = (Convert.ToInt32(TempData["PageIndex"]) + 1);

                <button type="button" onclick="getPatientReport(@pageIndexTopBack)">«</button>
                <button type="button" onclick="getPatientReport(@pageIndexBack)">‹</button>
                <button type="button" class="active">@TempData["PageIndex"]</button>
                @if (Convert.ToInt32(TempData["MaxPageIndex"]) <= 1 || Convert.ToInt32(TempData["MaxPageIndex"]) == Convert.ToInt32(TempData["PageIndex"]))
                {
                    <button type="button" class="disabled">›</button>
                    <button type="button" class="disabled">»</button>
                }
                else
                {
                    <button type="button" onclick="getPatientReport(@pageIndexNext)">›</button>
                    <button type="button" onclick="getPatientReport(@TempData["MaxPageIndex"])">»</button>
                }
            }
            <select class="page-size-select" id="pageSize" onchange="getPatientReport(1)">
                <option value="10">10</option>
                <option value="30">30</option>
            </select>
        </div>
    </div>
}
else
{
    <p>No records found.</p>
}

