@model IEnumerable<CHO_Saathi.ViewComponents.PatientViewModel>

@{
    ViewData["Title"] = "Patient List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .seven h1:after, .seven h1:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #c50000;
        border-top: 1px solid #c50000;
        height: 5px;
        background-color: #f8f8f8;
    }

    .seven h1 {
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        color: #4037a5;
        letter-spacing: 1px;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 12px 0;
        grid-gap: 5px;
        align-items: center;
        text-transform:uppercase;
    }
</style>

<div class="container-fluid">
<div class="row mt-3">
    <div class="col-lg-12">
            <div class="seven">
                <h1>Patient Dashboard</h1>
            </div>
</div>
</div>
  
 <div id="renderCardData"></div>
 <div class="row">
        <div class="col-lg-12">
           <hr/>
        </div>
   </div>
 <div class="row">

<!-- Left Panel : Select Hierarchy -->
<div class="col-xl-2 col-lg-2">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <h5 class="Headingcolorbg"><i class="fa-solid fa-filter"></i>&nbsp;Filters</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <hr />
                </div>
            </div>

            <!-- State -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="form-group">
                        <label for="StateID" class="form-label"><b>State</b></label>
                        <select class="form-control form-select" id="StateID">
                            <option value="0">All</option>
                            @foreach (var d in (IEnumerable<SelectListItem>)ViewBag.State)
                            {
                                <option value="@d.Value">@d.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <!-- District -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="form-group">
                        <label for="DistrictID" class="form-label"><b>District</b></label>
                        <select class="form-control form-select" id="DistrictID">
                            <option value="0">All</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Block -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="form-group">
                        <label for="BlockID" class="form-label"><b>Block</b></label>
                        <select class="form-control form-select" id="BlockID">
                            <option value="0">All</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Facility -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="form-group">
                        <label for="FacilityID" class="form-label"><b>Facility</b></label>
                        <select class="form-control form-select" id="FacilityID">
                            <option value="0">All</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Sub-Facility -->
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="form-group">
                        <label for="SubFacilityID" class="form-label"><b>HWC/Sub-center</b></label>
                        <select class="form-control form-select" id="SubFacilityID">
                            <option value="0">All</option>
                        </select>
                    </div>
                </div>
            </div>


            <!-- Search Button -->
            <div class="row mt-2">
                <div class="col-xl-12 col-lg-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary savebutton pull-right" onclick="FilteredData()">
                            <i class="fa fa-search"></i>&nbsp;Search
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Panel : Block List -->
    <div class="col-xl-10 col-lg-10">
            <div class="row">
                <div class="col-xl-3 col-lg-3">
                    <label for="YearID" class="form-label"><b>Year</b></label>
                    <select class="form-control form-select" id="YearID" onchange="onYearChange()">
                        <option value="0">All</option>
                        @foreach (var d in (IEnumerable<SelectListItem>)ViewBag.Year)
                        {
                            <option value="@d.Value">@d.Text</option>
                        }
                    </select>
                </div>

                <div class="col-xl-3 col-lg-3">
                    <label for="MonthID" class="form-label"><b>Month</b></label>
                    <select class="form-control form-select" id="MonthID" onchange="getPatientReport(1)" disabled>
                        <option value="0">All</option>
                        @foreach (var d in (IEnumerable<SelectListItem>)ViewBag.Month)
                        {
                            <option value="@d.Value">@d.Text</option>
                        }
                    </select>
                </div>

                <div class="col-xl-3 col-lg-3">
                    <label for="SymptomsID" class="form-label"><b>Symptoms</b></label>
                    <select class="form-control form-select" id="SymptomsID" onchange="getPatientReport(1)">
                        <option value="0">All</option>
                        @foreach (var d in (IEnumerable<SelectListItem>)ViewBag.Symptoms)
                        {
                            <option value="@d.Value">@d.Text</option>
                        }
                    </select>
                </div>

            </div>

            <!-- Partial View for PatientReport -->
  
              <div id="renderData"></div>
              <input type="hidden" id="saveSizePage" />
        

        </div>

  </div>

</div>


@if (TempData["message"] != null)
{
    <div class="alert alert-info">@TempData["message"]</div>
}



<script type="text/javascript">
    $(document).ready(function () {
        getDistrictByState();
        getBlocksByDistrict();
        getFacilityByBlock();
        getSubfacilityByFacility();
        getPatientCardCountReport(1);
        getPatientReport(1);
    });

    function getDistrictByState(){
        $('#StateID').change(function () {
            var stateId = $(this).val();
            if (stateId != "0") {
                $.ajax({
                    url: '@Url.Action("GetDistricts", "PatientReport")',
                    type: 'GET',
                    data: { stateId: stateId },
                    success: function (data) {
                        var $district = $('#DistrictID');
                        $district.empty();
                        $district.append('<option value="0">Select District</option>');
                        $.each(data, function (i, district) {
                            $district.append('<option value="' + district.districtId + '">' + district.district + '</option>');
                        });
                    }
                });
            } else {
                $('#DistrictID').html('<option value="0">Select district</option>');
            }
        });
    }

    function getBlocksByDistrict(){
        $('#DistrictID').change(function () {
            var districtId = $(this).val();
            if (districtId != "0") {
                $.ajax({
                    url: '@Url.Action("GetBlocks", "PatientReport")',
                    type: 'GET',
                    data: { districtId: districtId },
                    success: function (data) {
                        var $block = $('#BlockID');
                        $block.empty();
                        $block.append('<option value="0">Select Block</option>');
                        $.each(data, function (i, block) {
                            $block.append('<option value="' + block.blockId + '">' + block.blockName + '</option>');
                        });
                    }
                });
            } else {
                $('#BlockID').html('<option value="0">Select Block</option>');
            }
        });
    }

    function getFacilityByBlock(){
        $('#BlockID').change(function () {
            var blockId = $(this).val();
            if (blockId != "0") {
                $.ajax({
                    url: '@Url.Action("GetFacility", "PatientReport")',
                    type: 'GET',
                    data: { blockId: blockId },
                    success: function (data) {
                        var $facility = $('#FacilityID');
                        $facility.empty();
                        $facility.append('<option value="0">Select Facility</option>');
                        $.each(data, function (i, facility) {
                            $facility.append('<option value="' + facility.facilityId + '">' + facility.facilityName + '</option>');
                        });
                    }
                });
            } else {
                $('#FacilityID').html('<option value="0">Select Facility</option>');
            }
        });
    }

    function getSubfacilityByFacility(){
        $('#FacilityID').change(function () {
            var facilityId = $(this).val();
            if (facilityId != "0") {
                $.ajax({
                    url: '@Url.Action("GetSubfacility", "PatientReport")',
                    type: 'GET',
                    data: { facilityId: facilityId },
                    success: function (data) {
                        var $subFacility = $('#SubFacilityID');
                        $subFacility.empty();
                        $subFacility.append('<option value="0">Select Sub Facility</option>');
                        $.each(data, function (i, subFacility) {
                            $subFacility.append('<option value="' + subFacility.subFacilityId + '">' + subFacility.subFacility + '</option>');
                        });
                    }
                });
            } else {
                $('#SubFacilityID').html('<option value="0">Select Sub Facility</option>');
            }
        });
    }

    function onYearChange() {
        var year = $('#YearID').val();

        if (year != "0") {
            $('#MonthID').prop('disabled', false);   
        } else {
            $('#MonthID').prop('disabled', true);    
            $('#MonthID').val("0");                  
        }

        getPatientReport(1);
    }


    function getPatientCardCountReport()
    {
        var StateID = $('#StateID').val();
        var DistrictID = $('#DistrictID').val();
        var BlockID = $('#BlockID').val();
        var FacilityID = $('#FacilityID').val();
        var SubFacilityID = $('#SubFacilityID').val();
        var YearID = $('#YearID').val();
        var MonthID = $('#MonthID').val();
        var SymptomsID = $('#SymptomsID').val();
        var baseUrl = '@Url.Content("~/")';

        $.ajax({
            url: baseUrl + 'PatientReport/getPatientCardCountReport',
            type: 'POST',
            data: {StateId: StateID, DistrictId: DistrictID, BlockId: BlockID, FacilityId: FacilityID, SubfacilityId: SubFacilityID, YearId: YearID, MonthId: MonthID, SymptomsId: SymptomsID },
            success: function (response) {
                if (response.length > 0) {
                    if(response == "0")
                    {
                        $('#renderCardData').html('');
                    }
                    else
                    {
                        $('#renderCardData').html(response);
                    }
                }
            },
            error: function (xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }

    function getPatientReport(pageNumber){
       var pageSize = $('#pageSize').val()|| 10;
        pageSize = parseInt(pageSize, 10);
        $('#saveSizePage').val(pageSize);

        var StateID = $('#StateID').val();
        var DistrictID = $('#DistrictID').val();
        var BlockID = $('#BlockID').val();
        var FacilityID = $('#FacilityID').val();
        var SubFacilityID = $('#SubFacilityID').val();
        var YearID = $('#YearID').val();
        var MonthID = $('#MonthID').val();
        var SymptomsID = $('#SymptomsID').val();
        var baseUrl = '@Url.Content("~/")';

        $.ajax({
            url: baseUrl + 'PatientReport/getPatientReport',
            type: 'POST',
            data: { pageIndex: pageNumber, pageSize: pageSize,StateId: StateID, DistrictId: DistrictID, BlockId: BlockID, FacilityId: FacilityID, SubfacilityId: SubFacilityID, YearId: YearID, MonthId: MonthID, SymptomsId: SymptomsID },
            success: function (response) {
                if (response.length > 0) {
                    if(response == "0")
                    {
                       
                        $('#renderData').html('');
                    }
                    else
                    {
                        $('#renderData').html(response);
                        $('#pageSize').val($('#saveSizePage').val());
                    }
                }
            },
            error: function (xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }

    function FilteredData(){
        if (!validateFilters()) {
            return;   
        }
        getPatientReport(1);
    }

    function validateFilters() {
        if ($('#StateID').val() == "0" || $('#StateID').val() == "") {
            alert("Please select State");
            $('#StateID').focus();
            return false;
        }
        if ($('#DistrictID').val() == "0" || $('#DistrictID').val() == "") {
            alert("Please select District");
            $('#DistrictID').focus();
            return false;
        }
        if ($('#BlockID').val() == "0" || $('#BlockID').val() == "") {
            alert("Please select Block");
            $('#BlockID').focus();
            return false;
        }
        return true;
    }


    function ExportExcelZIP()
    {
        var StateID = $("#StateID").val();
        var DistrictID = $("#DistrictID").val();
        var BlockID = $("#BlockID").val();
        var FacilityID = $('#FacilityID').val();
        var SubFacilityID = $('#SubFacilityID').val();
        var YearID = $('#YearID').val();
        var MonthID = $('#MonthID').val();
        var SymptomsID = $('#SymptomsID').val();
        var url = "/PatientReport/ExportToExcel?StateId=" + StateID + "&DistrictId=" + DistrictID + "&BlockId=" + BlockID + "&FacilityId=" + FacilityID + "&SubfacilityId=" + SubFacilityID + "&YearId=" + YearID + "&MonthId=" + MonthID + "&SymptomsId=" + SymptomsID;
        window.location.href = url;
    }

    function ExportEmergencyMedicalServices()
    {
       var url = "/PatientReport/ExportMedicalServices";
        window.location.href = url;
    }

    function ExportReferredPatient()
    {
        var url = "/PatientReport/ReferredPatient";
        window.location.href = url;
    }

</script>



